<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ asset( 'bundles/needyou/js/main.js' ) }}" ></script>

<body>
<form id="myform" action="/upload" target="post">
    <input type="file" accept="image/*" name="image" id="image" />
    <input type="button" id="sb" value="Upload images" class="upload" />
</form>
</body>