<form id="upload_form" enctype="multipart/form-data" method="post" action="upload.php"></form>
<div id="over_x" style="display: none; position: fixed; width: 1000em; margin-left: -10em; height: 1000em; background-color: black; opacity: 0.7; z-index: 1000">
</div>
<div id="over_y" style="position: fixed; z-index: 1000; display: none; margin-left: 36em; margin-top: 15em; background-color: white; width: 50em;  opacity: 1; padding: 2em 2em 2em 2em;">
   <div >
     <a id="photo_close" style="float: right; color: #2B587A;" class="hrefUnderlineOnHover" onclick="jau.toggleOverlay()">Закрыть</a>
     <div style="font-size: 15px; font-weight: bold; color: #45688E; font-family: tahoma">Загрузка новой фотографии</div>
     <div style="font-family: tahoma; line-height: 150%;">
         Друзьям будет проще узнать Вас, если Вы загрузите свою настоящую фотографию.
         Вы можете загрузить изображение в формате JPG, GIF или PNG.
     </div>
      <div style="margin-left: 17em; margin-top: 3em;;">
          <button id="mybutt" class="mybutt" onclick="this.parentNode.nextSibling.click()">Выбрать файл</button>
      </div><input id="image" accept="image/*" name="image" type="file" style="visibility: hidden;" class="upload" onchange="jau.doLoad()" />
       <div class="prv" style="display: none;">
           <img id="preview" width="150px;" style="float:left"/>
           <div style="float: left; margin: 1em 1em 1em 1em">
               <div id="upload_info" style="background-color: #74B752; opacity: .5; padding: 0.5em 0.5em 0.5em;">Загрузка успешна</div>
               <button class="mybutt" style="margin-top: 1em" onclick="location.reload();">Сохранить</button>
           </div>
       </div>
   </div>
</div>
