<div style="float: left; height:1em; margin-top:0.5em; position: relative;">

       <div id="ts_wrap">
            <input id="ts_input" type="text" />
       </div>
       <!-- <div style="float: left; height: 2em; top: 2em; left: 20em;  position: absolute; ">
         <img src="{{asset('bundles/needyou/images/lupa.png')}}" height="3em" />
       </div> -->
       <div style="left: 16em;" class="menuText selectable" >
          <a href="#" class="hrefMenu">люди</a>
       </div>
       <div style="left: 20em;" class="menuText selectable">
          <a href="#" class="hrefMenu">сообщества</a>
       </div>
       <div style="left: 28em;" class="menuText selectable">
          <a href="#" class="hrefMenu">игры</a>
       </div>
       <div style="left: 32em;" class="menuText selectable">
          <a href="#" class="hrefMenu">музыка</a>
       </div>
        <div style="left: 37.5em;" class="menuText selectable">
          <a href="{{ path('_my_security_logout') }}" class="hrefMenu">выйти</a>
       </div>

</div>
<div id="ts_content_wrap" style="width: 170px; height: 1500px; background-color: #FFFFFF; z-index: 1000; position: relative; left: 180px; top: 50px; box-shadow: 0 0 6px #999999;">
    sdf
</div>