<div style="background-color: #E9EDF1; height: 2.5em; ">
  <div style="margin-left: 2em;">
      <h1 id="title">Добро пожаловать</h1>
  </div>
</div>
    {#<div style="clear:both;" />#}
    <div style="padding: 2em 2em 2em;">
        <p style="line-height: 160%;">
            <b>NeedYou</b> – универсальное средство для общения и поиска друзей и одноклассников,<br/>
            которым ежедневно пользуются десятки миллионов человек.
        </p>

        <h2>Моментальная регистрация</h2>

        <div style="margin-left: 15em;">
            <form>
              <input type="text"/> <br/>
              <input type="text" /> <br/>
                <input type="submit" />
            </form>
        </div>

        <h2>В чём поможет NeedYou ? </h2>

        <ul style="list-style: square; color: #758EAC;">
            <li><span style="color:#000; font-size: 0.9em;">Найти людей, с которыми Вы когда-либо учились, работали или отдыхали.</span></li>
            <li><span style="color:#000; font-size: 0.9em;">Узнать больше о людях, которые Вас окружают, и найти новых друзей.</span></li>
            <li><span style="color:#000; font-size: 0.9em;">Всегда оставаться в контакте с теми, кто Вам дорог.</span></li>
        </ul>

        <div style="margin-left: 5em;">
            <div style="float: left; width: 15em;"><a href="#" ><img src="{{ asset('bundles/needyou/images/prof_m.png') }}" /></a></div>
            <div style="float: left; width: 15em;"><a href="#" ><img src="{{ asset('bundles/needyou/images/prof_m.png') }}" /></a></div>
            <div style="float: left; width: 15em;"><a href="#" ><img src="{{ asset('bundles/needyou/images/prof_m.png') }}" /></a></div>
            <div style="clear: both;">
        </div>

    </div>