{% if alone is defined %}
 <link rel="stylesheet" href="{{ asset( 'bundles/needyou/css/main.css' ) }}" />
 <script type="text/javascript" src="{{ asset( 'bundles/needyou/js/main.js' ) }}" ></script>
{% endif %}
<form action="{{ path("_security_check") }}" method="post" id="login">
        <div>
            <label for="username" class="lg_txt">Телефон или email</label> <br/>
            <input type="text" id="username" size="14em" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password" class="lg_txt">Пароль</label> <br/>
            <input type="password" id="password" name="_password" size="14em"/>
        </div>
        <div style="margin-top: 1em; margin-left: 0.2em">
            <button class="mybutt">Войти</button><br/><br/>
        </div>
</form>