
<link rel="stylesheet" href="{{ asset( 'bundles/needyou/css/main.css' ) }}" />


<div class="center"  >
  <div style="float:left">
	 <img src="{{asset('bundles/needyou/images/logo.png')}}"> 
  </div>
  
  <div style="float:left; height: 35px; margin-top: 10px; margin-left: 10px; position: relative;">
     <input type="text" name="search" style="display: inline-block; value: 'sdf'" value="Search" />  
     <div style="float: left; height: 35px; top: 1px; left: -18px;  position: absolute; ">
  	   <img src="{{asset('bundles/needyou/images/lupa.png')}}" height="21px" />
  	 </div>
  	 <div style="float: left; height: 35px; top: 1px; left: 138px;  position: absolute; ">
  	   <img src="{{asset('bundles/needyou/images/user.png')}}" height="21px" />
  	 </div>
  </div>
	 
</div>


Optimus Group Incorporation

{% block content %}

  <p>Default </p>

{% endblock %}
