body {background: #fff;color: #474747;font: 12px/25px Arial, Helvetica, sans-serif;}

em.ts_contact_h1{
   font-style: normal;
   background: #f0f4f7;
   border-bottom: 1px solid #1C5A88;
   margin: 0px;
   padding: 0px 1px;
}

h2{
    border-bottom: 1px solid #DAE1E8;
    color: #45668E;
    font-size: 1.18em;
    padding: 0px 0px 3px;
    margin: 0px 0px 10px;
}

#avatar-container{
    position: relative;
    width: 15em;
    margin-left: 1em;
    margin-top: 1em;
    float: left;
}

#friends-counter{
    position: relative;
    float: left;
    margin-left: 1.3em;
    font-size: 10.5px;
}

#photo-frame-head{
    position: relative;    
    width: 100%;
    float: inherit;
    height: 2.3em;
    background-color: #DEE5EB;
    font-family: verdana;
    font-size: 10.5px;
    font-weight: bold;
}

#title{
    color:#607387;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-weight: bold;
    font-size: 11px;
    margin: 0em;
}

#ts_content_wrap{
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 6px #999999;
    display: none;
    padding: 0px 0px 10px 0px;
    left: 180px;
    position: absolute;
    top: 50px;
    width: 250px;
    z-index: 1000;

}

#ts_input{
    background: url("/bundles/needyou/images/lupa.gif") no-repeat scroll 2px 2px rgba(0,0,0,0);
    font-family: Tahoma,Verdana,Arial,Sans-Serif,Lucida Sans;
    font-size: 11px;
    padding: 3px 41px 4px 25px;
    box-shadow: 0px 2px 9px 0px #C0C4C9 inset;
    border: 0 none;
    margin: 0px;
    height: 25px;
    outline: 0;
}

#ts_search_sep{
    padding: 1px 13px 1px;
    color: #777;
    border-top: 1px solid #e0e1e2;
    border-bottom: 1px solid #e0e1e2;
    background: #f0f0f0;
}

#ts_wrap{
    width: 170px;
    background-color: #FFFFFF;
    overflow: hidden;
    background-image: -moz-linear-gradient(center top , #EFEFEF 0%, #FFFFFF 100%);
    border-radius: 3px 3px 3px 3px;
}



#user-city{
    position: relative;
    float: left;
    color: #AAB7C5; 
    width: 37em;    
}

#user-bro{
    position: relative;
    float: left;
    color: #AAB7C5; 
    width: 37em;    
}
/*a{color: #2B587A;text-decoration: none;}
a:hover {text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;	background: #3F3F3F;border:1px solid #ffffff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
a.button:hover{background:#717375;}
*/
.active{
    background: none repeat scroll 0 0 rgba(219,227,235,0.5);
}

.avatar-im{
    width: 15em;
}

.bt_divs{
    text-align: center;
}

.center{
    margin-left: 21em;
    margin-right: 21em;
}

.center-of-center{
    position: relative;
    float: left;
    width: 38em;
}

.content {width: 12.5em; position: relative; float: left; padding:0px;}
    .content ul{list-style: none; font-size:12px; margin-left:-3em;}
        .content ul li{border-bottom: 0px solid #fff; padding-left:5px;} 
        .content ul li {border-radius: 3px;}
        .content ul li:hover{background:#c6d7e4;}
    .content .post {margin-bottom: 1px;}
        .content .post h4{ font-size:14px; font-weight:normal;}
        .content .post img{ float:left; padding:5px; border:1px solid #CCC; margin-right:1px;}
        .content .post p{color:#A3A3A3; font-style:italic;}
    .content .wrap-content{background-color:#FFF; border:1px solid #CCC; margin-top: 0px;}
    .content ul a{
        text-decoration: none;
        color: #3d6b9c;
    }

.counters-bar{
    position: relative;
    float: left;
    font-size: 11px;
    font-family: tahoma;
    width: 100%;
    padding-left: 1.5em;
    color: #000;  
}
    .counters-bar a{
        text-decoration: none;
        color: #3d6b9c;
    }

div.hr {
    position: relative;
    float: left;
    background: #DEE5EB no-repeat scroll center;
    margin-left: 1em;
    width: 35em;    
    height: 1px;
    padding-left: 1em;
}

div.hr hr {
display: none;
}

.edit-profile{
    position: relative;
    float: left;
    font-size: 11px;
    font-family: tahoma;
    width: 100%;
    padding-left: 1.5em;
    color: #A3A3A3;
}

.edit-prof-under{
    height: 1px;
    width: 100%;
}

.fl_l{
    float: left;
}

.friends-bar{
    position: relative;
    float: left;
    width: 100%;
}

.friends-bar-foot{
    position: relative;
    background: #F1F1F1;
    width: 100%;
    color: #666;
    height: 1.8em;
}

.friends-bar-head{
    position: relative;    
    height: 2em;
    background-color: #DEE5EB;
    font-family: verdana;
    font-size: 10.5px;
    font-weight: bold;
}
    .friends-bar-head a{
        text-decoration: none;
        color: #3d6b9c;
        padding-left: 1.5em;
    }

.friends-bar-imgs{
    position: relative;
    float: left;
    width: 100%;
}

.head{
    margin-top: -1em;
    width: 70em;
    height: 3.3em;
    border: solid 0.05em blue;
    background: url('http://localhost/bundles/needyou/images/zholak.jpg' );
    border-radius: 0px 0px 0.4em 0.4em;
    position: relative;
}

.hrefMenu:hover, .hrefMenu:link, .hrefMenu:active, .hrefMenu:visited {
    text-decoration: none;
    font-weight: bold;
    font-size: 8pt;
    color: #EEEEFF;
}

.hrefUnderlineOnHover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.info-bar{
    position: relative;
    height: 2.5em;
    background-color: #DEE5EB;
    font-family: verdana;
    font-size: 10.5px;
    font-weight: bold;
}

.lg_txt{
    color:#45688F;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
}

.long-left-menu{
    position: relative;
    width: 16em;
    float: left;
}
    .long-left-menu a{
        text-decoration: none;
        color: #3d6b9c;
    }

.main-content {
    float: left;
    position: relative;
    /*border-left: 0.17em solid #e0edf7;*/
    /*border-right: 0.17em solid #e0edf7;*/
    border: 0.17em solid #e0edf7;
    width: 54em;
    margin-left: 1.5em;
}

.mybutt{
    text-decoration:none; text-align:center;
    border:solid 1px #004F72;
    width: 116px;
    height: 26px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:12px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#ffffff;
    background-color:#6487ac;
    background-image: -moz-linear-gradient(top, #6487ac 0%, #51779f 100%);
    background-image: -webkit-linear-gradient(top, #6487ac 0%, #51779f 100%);
    background-image: -o-linear-gradient(top, #6487ac 0%, #51779f 100%);
    background-image: -ms-linear-gradient(top, #6487ac 0% ,#51779f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51779f', endColorstr='#51779f',GradientType=0 );
    background-image: linear-gradient(top, #6487ac 0% ,#51779f 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

        .mybutt:hover{
             border:solid 1px #004F72;
             -webkit-border-radius:4px;
             -moz-border-radius:4px;
             border-radius: 4px;
             font:12px Arial, Helvetica, sans-serif;
             font-weight:bold;
             color:#ffffff;
             background-color:#6487ac;
             background-image: -moz-linear-gradient(top, #6487ac 0%, #5c80a7 100%);
             background-image: -webkit-linear-gradient(top, #6487ac 0%, #5c80a7 100%);
             background-image: -o-linear-gradient(top, #6487ac 0%, #5c80a7 100%);
             background-image: -ms-linear-gradient(top, #6487ac 0% ,#5c80a7 100%);
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c80a7', endColorstr='#5c80a7',GradientType=0 );
             background-image: linear-gradient(top, #6487ac 0% ,#5c80a7 100%);
             -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
             -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
             box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
         }


.menuText{
    color: #e0edf7;
    float: left;
    margin-left: 1em;

}

.name-bar{
    position: relative;
    float: left;
    text-align: left;
    padding-left: 0.8em;
    color: #607387;
}

.name-center{
    position: relative;
    float: left;
    text-align: left;
    color: #607387;  
    font-family: verdana;
    font-size: 10.5px;
    font-weight: bold;  
}

.name-univer{
    position: relative;
    width: 100%;    
}

.name-univer-name{
    position: relative;
    float: right;
    padding-right: 1em;
}

.photo-frame{
    position: relative;
    float: inherit;
    width: 96%;
    margin-left: 0.8em;
}

.selectable{
	padding: 0.3em 0.3em 0.45em 0.3em;
	/*position: absolute;*/
	top: 0em;
}

.selectable:hover{
	background-color: #416389;
}

.server-cont{
    position: relative;
    float: left;
    padding-left: 1em;
    width: 37em;
}

.status-bar{
    position: relative;
    float: right;
    text-align: right;
    padding-right:0.8em;
    color: #AAB7C5;
}

.ts{
    background-color: white;
    border-radius: 3px 3px 3px 3px;
    position: absolute;
    width: 150px;
    height: 20px;
    left: 2em;
    top: 0.3em;
}

.ts_contact_info{
    font-weight: normal;
    color: #999;
    padding-top: 6px;
    font-size: 11px;
}

.ts_contact_name{
    color: #45688e;
    height: 30px;
    padding: 2px 0 0 8px;
    font-weight: bold;
    position: relative;
}

.ts_contact_photo img{
    width: 40px;
    height: 40px;
}

.ts_content{
    padding: 4px 0 4px 6px;
    margin: 1px 0px 1px 0px;
    height: 41px;
    line-height: 100%;
}


.user-info-bar{
    position: relative;
    padding-left: 1em;
    padding-top: 1em;
    float: left;
    width: 37em;
}

.user-info-rows{
    position: relative;
    float: left;
    width: 37em;
    padding-left: 1em;
}

.wall-content{
    position: relative;
    float: inherit;
    width: 96%;
    margin-left: 0.8em;
}




