.red{
	background-color: red;
}

.center{
	margin-left: 250px;	
	margin-top: -10px;
	width: 800px;
	height: 40px;
	border: solid 1px blue;
	background: url('http://localhost/bundles/needyou/images/zholak.jpg' );
	border-radius: 0px 0px 10px 10px;
	position: relative;
}







